<p>home-page works!</p>

    <div class="outer-circle">
      <div class="inner-circle">
      {{avatarLetter}}
        <!-- <img src="path/to/profile-image.jpg" alt="Profile" /> -->
      </div>
    </div>
    

<aside>
    הקורסים שלי:
    @for(course of currentCourses$|async; track course.id)
    {
        <div>
            name: {{course.title}},
            description: {{course.description}}
        </div>
    }
</aside>
<router-outlet/>
<!-- <button (click)="navigateCourses()">כל הקורסים</button> -->