
<div class="outer-circle" >
  <div class="inner-circle" >
    {{avatarLetter}}
  </div>
</div>
@if(currentUser.role=='user')
{
  <aside style="background-color: #f8d3e0; border: 1px solid #d81b60; padding: 10px; margin-top: 20px;">
    <h3 style="color: #d81b60;">הקורסים שלי:</h3>
    @for(course of currentCourses$|async; track course.id)
    {
        <div style="border-bottom: 1px solid #d81b60; padding: 5px;">
            <strong>שם:</strong> {{course.title}}, <strong>תיאור:</strong> {{course.description}}
        </div>
    }
</aside>
}
<router-outlet/>

