<p>course-details works!-----------</p>
@if(this.showForm)
{
  <app-add-lesson [currentCourse]="details"></app-add-lesson>
}
@if(this.showEditLesson)
{
  <app-edit-lesson [currentCourse]="details" [currentLesson]="currentLessonToEdit"></app-edit-lesson>
}

<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{details.title}}hello</mat-card-title>
      <mat-card-subtitle> {{details.description}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <button (click)="addLesson(details)">הוסף שיעור</button>
      <p>lessons</p>
      <button (click)="getLessonsForCourse()">כל השיעורים</button>
      @for(lesson of lesssnsForCourse;track lesson.id)
      {
        <p>title:{{lesson.title}},
          content:{{lesson.content}}
        id:{{lesson.id}}</p>

         <button (click)="deleteLesson(lesson)">הסר שיעור</button>
         <button (click)="editLesson(lesson)">ערוך שיעור</button>
      }
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>
